/web/node_modules
/web/build
apigateway/layers/npm/nodejs/node_modules/

/.cache
/build
/public/build
.env
apigateway/.aws-sam/
dynamodb/docker/dynamodb/shared-local-instance.db
/sample/*
apigateway/migrate

